<!-- templates/tickers/company_profile.html -->
{% extends 'layout/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="container mt-4">
        <h2>Company Profile</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ company_profile.longName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ company_profile.industry }}
                    | {{ company_profile.sector }}</h6>
                <p class="card-text lead">{{ company_profile.longBusinessSummary }}</p>
                <a href="{{ company_profile.website }}" class="card-link" target="_blank">Visit Website</a>
            </div>
        </div>

        <div class="mt-4">
            <h3>Contact Information</h3>
            <p>
                <strong>Address:</strong> {{ company_profile.address1 }}, {{ company_profile.city }}, {{ company_profile.state }} {{ company_profile.zip }}, {{ company_profile.country }}
            </p>
            <p><strong>Phone:</strong> {{ company_profile.phone }}</p>
        </div>

        <div class="mt-4">
            <h3>Financial Summary</h3>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Market Cap</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark">$<span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.marketCap }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Previous Close</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark">$<span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.previousClose }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Day Low - High</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark">$<span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.dayLow }}</span> -
                                $<span class="badge badge-light"
                                        style="font-size: 1.25rem; color: black;">{{ company_profile.dayHigh }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Volume</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark"><span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.volume }}</span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">52 Week Low - High</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark">$<span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.fiftyTwoWeekLow }}</span>
                                - $<span class="badge badge-light"
                                        style="font-size: 1.25rem; color: black;">{{ company_profile.fiftyTwoWeekHigh }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Dividend Rate</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark">$<span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.dividendRate }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Dividend Yield</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark"><span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.dividendYield }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Trailing PE</div>
                        <div class="card-body">
                            <h5 class="card-title"><span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.trailingPE }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Forward PE</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark"><span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.forwardPE }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Beta</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark"><span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.beta }}</span></h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-header">Profit Margin</div>
                        <div class="card-body">
                            <h5 class="card-title text-dark"><span class="badge badge-light"
                                    style="font-size: 1.25rem; color: black;">{{ company_profile.profitMargins }}</span>
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-4">
            <h3>Risk Analysis</h3>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">Audit Risk</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ company_profile.auditRisk }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Board Risk</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ company_profile.boardRisk }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Compensation Risk</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ company_profile.compensationRisk }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <h3>Employee Count</h3>
            <p><strong>Full Time Employees:</strong> {{ company_profile.fullTimeEmployees }}</p>
        </div>

        <div class="mt-4">
            <h3>Company Officers</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Age</th>
                        <th>Total Pay</th>
                        <th>Exercised Value</th>
                        <th>Unexercised Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for officer in company_profile.companyOfficers %}
                        <tr>
                            <td>{{ officer.name }}</td>
                            <td>{{ officer.title }}</td>
                            <td>{{ officer.age }}</td>
                            <td>${{ officer.totalPay }}</td>
                            <td>${{ officer.exercisedValue }}</td>
                            <td>${{ officer.unexercisedValue }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
