{% extends 'layout/base.html' %}

{% block title %}
  Notification List
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-md-12 mb-5">
      <div class="row justify-content-between align-items-center">
        <div class="mb-3 col-9">
          <h1>Notifications</h1>
        </div>
        <div class="mb-3 col-3">
          <a href="{% url 'notifications:notification_add' %}" class="btn btn-success">Add Notification</a>
        </div>
      </div>
    </div>

    <table id="notificationData" class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Ticker</th>
        <th>Criteria</th>
        <th>Value</th>
        <th>Last Notification</th>
        <th>Type</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for notification in notifications %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ notification.user }}</td>
          <td>{{ notification.ticker }}</td>
          <td>{{ notification.notification_criteria }}</td>
          <td>{{ notification.notification_value }} $</td>
          <td>{{ notification.last_notification|date:'d M Y H:i:s' }}</td>
          <td>{{ notification.notification_type }}</td>
          <td>{{ notification.date_created|date:'d M Y H:i:s' }}</td>
          <td>
            <a href="{% url 'notifications:notification_edit' notification.pk %}"
                class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'notifications:notification_delete' notification.pk %}"
                class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
      Object.assign(DataTable.defaults, {
          ordering: true,
          searching: true,
          lengthChange: true,
          pageLength: 25,
          language: {
              search: "_INPUT_",
              searchPlaceholder: "Search..."
          },
          dom: 'Bfrtip',
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ],
      });
      new DataTable('#notificationData', {
          initComplete: function () {
              this.api()
                  .columns(":gt(0)")
                  .every(function () {
                      let column = this;
                      let title = column.footer().textContent;

                      // Create input element and add event listener
                      $('<input type="text" class="form-control" placeholder="' + title + '" />')
                          .appendTo($(column.footer()).empty())
                          .on('keyup change clear', function () {
                              if (column.search() !== this.value) {
                                  column.search(this.value).draw();
                              }
                          });
                  });
          },
      });

  </script>
{% endblock %}
