{% extends 'layout/base.html' %}

{% block title %}
  Confirm Delete Notification
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4">Confirm Delete Notification</h1>
      <p>Are you sure you want to delete this notification?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'notifications:notification_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
